 {% extends "base.html.twig" %} 
 {% block body %} 

<h1>Bienvenu chez Isalodge</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi iste pariatur facilis beatae amet atque velit assumenda deserunt asperiores quos distinctio esse tempore natus voluptates, rerum magnam eos explicabo adipisci ullam praesentium! Temporibus odio adipisci rerum, repudiandae molestias autem dolorum.
</p> 
<p>
enim, fugit aperiam corporis illo velit veniam, laudantium id consequatur doloremque eveniet fugiat obcaecati repudiandae cum, odit mollitia saepe dolor! Eligendi itaque, asperiores tempore corrupti enim, quisquam eveniet officia optio dolores porro harum nisi. Error aspernatur nesciunt quo quasi.</p>

{% endblock %}
